<h2 class='intro'>Kindred Creatures
  <br />We help you find the animal to match your inner self in two quick steps!
</h2>
<h3 class='question'>STEP1: You can decide where you travel in your dreams
  tonight, where do you go?</h3>
<div class='container'>

  {{#each elements}}

  <div class="element-list">
    <a href="/{{element}}"><img class="img-circle" src="{{image}}" alt="{{element}}"></a>
  </div>

  {{/each}}
</div>

{{! may need to change alt "element" back to "name" if not working}}