<div class="container">
  {{#each elements}}
  <div class="element-list">
    <a href="/{{element}}"><img class="img-circle" src="{{image}}" alt="{{element}}"></a>
  </div>
  {{/each}}
</div>

{{!-- may need to change alt "element" back to "name" if not working--}}