<div class="container">
  {{#each animals}}
  <div class="animal-list">
    <a href="/animals/{{id}}"><img class="img-circle" src="{{image}}" alt="{{animal}}"></a>
  </div>
  {{/each}}
</div>

{{!-- may need to change "animal" back to "name" if not working--}}